
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; 
  font-family: Arial, sans-serif; 
}



.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top .logo {
  height: 150px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.search-bar button {
  background-color: #4c5788;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.header-bottom a {
  
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

/* Estilo do container */
.container {
  display: flex; 
  align-items: center; 
  background-color: #4c5788; 
  color: #ffffff; 
  border-radius: 10px; 
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 800px; 
  width: 90%; 
  margin: 20px auto; 
}

/* Estilo da imagem */
.image {
  width: 150px; /* Largura da imagem */
  height: auto; /* Mantém a proporção */
  margin-right: 20px; /* Espaço entre a imagem e o texto */
  border-radius: 8px; /* Arredonda as bordas da imagem */
}

/* Estilo do texto */
.text {
  font-size: 16px; /* Tamanho do texto */
  line-height: 1.5; /* Espaçamento entre as linhas */
}
