<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/bebidas.css">
    <link rel="stylesheet" href="/css/produtos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>Header Mercado</title>
</head>
<body>
    <header class="header">
        <div class="header-top">
            <a href="/"><img src="/img/logo-nativa.jpg" alt="Logo" class="logo"></a>
            <div class="search-bar">
                <input type="text" placeholder="Pesquisa por produtos ou marcas">
                <button><i class="fas fa-search"></i></button>
            </div>
            <button class="app-button">Baixe o App Meu Atacadão</button>
            <div class="user-options">
               <a href="/views/suporte.html"><i class="fa-solid fa-circle-info"></i>Suporte</a>
                <a href="/views/cadastro.html"><i class="fas fa-user"></i> Entre ou cadastre-se</a>
            </div>
        </div>
        <div class="header-bottom-wrapper">
            <button class="menu-toggle">☰ Menu</button>
            <div class="header-bottom">
                <a href="/views/promocoes.html" class="promocoes" style="color: white;">Promoções</a>
                <a href="/views/bebidas.html">Bebidas</a>
                <a href="/views/alimentos.html">Alimentos Básicos</a>
                <a href="/views/limpezas.html">Produtos de Limpeza</a>
                <a href="/views/beleza.html">Higiene e Beleza</a>
                <a href="/views/temperos.html">Essenciais em Pó</a>
                <a href="/views/derivados.html">Laticínios e Derivados</a>
                <a href="/views/infantil.html">Infantil</a>
               
            </div>
        </div>



          <main>

            <section style="background-image: url('/img/fundo\ beleza.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">
                <div class="highlight-section">
                    <!-- Imagem do Whisky -->
                    <img src="/img/hidratante facial.png" alt="Imagem de um lindo whisky">
                
                    <!-- Conteúdo chamativo à direita -->
                    <div class="highlight-content">
                        <h2 style="color: rgb(94, 0, 182);">Cuide de Você com Sofisticação!</h2>
                        <p>Descubra a harmonia entre cuidado e bem-estar com nossa linha de higiene e beleza. Ideal para quem valoriza momentos únicos de autocuidado, esses produtos oferecem qualidade e elegância para o seu dia a dia. Experimente o que só o Supermercado Nativa pode proporcionar!</p>
                
                        <!-- Botão de Compra -->
                        <button style="background-color: rgb(94, 0, 182);">Compre Agora</button>
                    </div>
                </div>
            </section>
            





            <!-- Seção de Produtos em Destaque -->
<h1 class="section-title">Nativa - Higiene e Beleza </h1>

<div class="cart-icon" id="cartIcon">
    🛒 <span class="cart-count" id="cartCount">0</span>
</div>

<div class="product-container" id="productContainer">
    <div class="product" data-name="Sabonete Líquido 5L" data-price="1600">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://drogariasp.vtexassets.com/arquivos/ids/779579/578525---sabonete-liquido-johnsons-baby-da-cabeca-aos-pes-400ml.jpg?v=637998082355830000" alt="Carne 2kg">
        <h2>Sabonete Líquido 5L</h2>
        <p class="price">R$ 16,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>
    <div class="product" data-name="Papel Higiênico Personal" data-price="500">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://cdn.awsli.com.br/600x450/608/608010/produto/27871883/b729f3c80b.jpg" alt="Feijão 1kg">
        <h2>Papel Higiênico Personal</h2>
        <p class="price">R$ 5,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>
    <div class="product" data-name="Bucha Vegetal " data-price="2500">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://cdn.awsli.com.br/290/290480/produto/109284587/53ca351928.jpg" alt="Açúcar 1kg">
        <h2>Bucha Vegetal </h2>
        <p class="price">R$ 25,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>
    <div class="product" data-name="Inseticida Spray 300ml" data-price="2100">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAr-av8mBDfzEdB61TYgVHXUS17_S-35B7kg&s" alt="Macarrão 500g">
        <h2>Inseticida Spray 300ml</h2>
        <p class="price">R$ 21,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>

    <div class="product" data-name="Lenço Umedecido" data-price="2900">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://www.drogasil.com.br/_next/image?url=https%3A%2F%2Fproduct-data.raiadrogasil.io%2Fimages%2F8304782.webp%3Fwidth%3D450%26height%3D450%26quality%3D85%26type%3Dresize&w=640&q=85" alt="Macarrão 500g">
        <h2>Lenço Umedecido</h2>
        <p class="price">R$ 29,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>
    <div class="product" data-name="Pasta de Dente Colgate " data-price="300">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://dmvfarma.vtexassets.com/arquivos/ids/250576-800-auto?v=638569257770830000&width=800&height=auto&aspect=true" alt="Feijão 1kg">
        <h2>Pasta de Dente Colgate </h2>
        <p class="price">R$ 3,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>
    <div class="product" data-name="Máscara de Hidratação" data-price="6700">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://cdn.awsli.com.br/600x700/1767/1767569/produto/224994200/unnamed-4p7ic6abmr.jpg" alt="Açúcar 1kg">
        <h2>Máscara de Hidratação</h2>
        <p class="price">R$ 67,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>
    <div class="product" data-name="Shampoo Estimulante" data-price="2200">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://acdn.mitiendanube.com/stores/004/297/279/products/shampoo-estimulante-antiqueda-e-crescimento-lumina-321ee41857811f320817178678185784-480-0.jpg" alt="Macarrão 500g">
        <h2>Shampoo Estimulante</h2>
        <p class="price">R$ 22,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>

    <div class="product" data-name="Condicionador Fortificante" data-price="2490">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://down-br.img.susercontent.com/file/br-11134207-7r98o-lsun6ogllv7f2a" alt="Macarrão 500g">
        <h2>Condicionador Fortificante</h2>
        <p class="price">R$ 24,90</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>
    <div class="product" data-name="Hidratante Corporal" data-price="1500">
        <span class="highlight-badge">Destaque</span> <!-- Selo de Destaque -->
        <img src="https://images.tcdn.com.br/img/img_prod/1142879/creme_hidratante_corporal_rosas_60g_jumi_193_1_4d616552aea8de8739d70124f43c7544.png" alt="Macarrão 500g">
        <h2>Hidratante Corporal</h2>
        <p class="price">R$ 15,00</p>
        <button class="pay-button">Adicionar ao Carrinho</button>
    </div>

  

</div>

<br>


<!-- Modal para visualizar o carrinho -->
<div class="modal" id="cartModal">
<div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h2>Carrinho</h2>
    <div id="cartItemsContainer"></div>
    <div class="modal-footer">
        <button id="checkoutButton">Ir para o Checkout</button>
    </div>
</div>
</div>
<!--produtos em destaque-->

          </main>
        
    </header>

    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#"> Quem somos </a></li>
                        <li><a href=""> nossos serviços </a></li>
                        <li><a href=""> política de privacidade </a></li>
                        <li><a href=""> programa de afiliados</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Transporte</a></li>
                        <li><a href="#">devoluções</a></li>
                        <li><a href="#">Status De Pedido</a></li>
                        <li><a href="#">Opções De Pagamento</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Loja online</h4>
                    <ul>
                        <li><a href="#">Relógio</a></li>
                        <li><a href="#">Saco</a></li>
                        <li><a href="#">Calçado</a></li>
                        <li><a href="#">Endereço</a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Se subescreva!</h4>
                    <div class="form-sub">
                        <form>
                            <input type="email" placeholder="Digite o seu e-mail" required>
                            <button>subscrever</button>
                        </form>
                    </div>
  
                    <div class="medias-socias">
                        <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
                        <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
                        <a href="#"> <i class="fa-brands fa-linkedin"></i> </a>
                    </div>
  
                </div>
                <!--end footer col-->
            </div>
        </div>
    </footer>

    
    <script src="/scripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>
